.border {
    border: 2px solid red;
}

.flex {
    display: flex;
    /* gap: 10px; */
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.invert {
    filter: invert(1);
}

.rounded {
    border-radius: 7px;
}

.rounded-2 {
    border-radius: 10px;
    padding: 5px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3), -4px -4px 10px rgba(255,255,255,0.1); /* subtle 3D */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* Chrome, Edge, Safari */
.songList::-webkit-scrollbar {
  width: 8px;
}

.songList::-webkit-scrollbar-track {
  background: #0f0f0f;
}

.songList::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #333, #555);
  border-radius: 10px;
}

.songList::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #555, #777);
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    /* Dark color for the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    /* Dark color for the track */
}

/* For Firefox */
scrollbar-color: #333 #222;
/* Dark color for the thumb and track in Firefox */


html {
  scroll-behavior: smooth;
}   
